*.gltf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
steel_frame_shelves_03_4k.glb filter=lfs diff=lfs merge=lfs -text
modern_arm_chair_01_4k.glb filter=lfs diff=lfs merge=lfs -text
